@import '../_settings.scss';

.info {
	border-radius: $buttons-radius/2;
	border: $input-border;
	box-shadow: $item-shadow;
	box-sizing: border-box;
	line-height: rem(18px);
	@include font-size(14px);
	display: block;
	margin: 10px auto;
	max-width: rem(800px);
	padding: $gutter/2 $gutter;
	position: relative;
	&.hideIt {
		height: 0;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		@include transform( translateZ(0) scale(1,0) );
		@include transition(0.3s);
	}
}
.info.warning {
	border-color: $warning-color;
	background: lighten($warning-color, $hover-percentage*2);
}
.info.success {
	border-color: $success-color;
	color: $success-color;
}
.info.error {
	border-color: $error-color;
	color: $error-color;
}

//
// 		LABELS
//
.label {
	display: inline-block;
	vertical-align: baseline;
	border-radius: $border-radius;
	color: #fff;
	padding: 2px;
	background: $gray-light;
}
.label-default {
	background: #e2dcdc;
	line-height: 13px;
	font-size: 11px;
	font-weight: 300;
	padding: 2px 3px;
}
.label-primary {
	background: $primary-color;
}
.label-secondary {
	background: $secondary-color;
}
.label-success {
	background: $success-color;
}
.label-warning {
	background: $warning-color;
}
.label-error {
	background: $error-color;
}
.label-small {
	@include font-size(11);
}
.label-medium {
	@include font-size(16);
	padding: 2px 6px;
}
.label-large {
	@include font-size(20);
	padding: 2px 8px;
}
