.loading {
	position: relative;
	&:before,
	&:after {
		position: absolute;
		width: 50px;
		height: 50px;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -25px;
		content: "";
		border-radius: 100%;
	}
	&:before {
		border-top: 4px solid $primary-color;
		border-left: 3px solid $primary-color;
		@include animation(spin-right 1.0s infinite ease-in);
	}
	&:after {
		border-right: 2px solid #fff;
		border-bottom: 3px solid rgba(255,255,255, .3);
		@include animation(spin-left 1.0s infinite ease-out);
	}
}

@include keyframes(spin-right) {
	0%   { @include transform( rotate(0deg) ) }
	100% { @include transform( rotate(360deg) ) }
}
@include keyframes(spin-left) {
	0%   { @include transform( rotate(360deg) ) }
	100% { @include transform( rotate(0deg) ) }
}