@import '../settings.scss';
.btn, button {
	cursor: pointer;
	border-radius: $buttons-radius;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: none;
	display: inline-block;
	@include transform( translateZ(0) );
	@include transition(0.3s, all);
	&:hover {
		text-decoration: none;
		@include transform( translateZ(360deg) );
		@include transition(0.3s, all);
	}
	.icon,
	.fa {
		display: inline-block;
		vertical-align: middle;
	}
}
.btn-text {
	background: transparent;
	border: 0;
	display: inline-block;
}

//rozmiary

.btn-large {
	line-height: rem(40);
	height: rem(40);
	padding: 0 $gutter;
	border-radius: rem(40);
	font-weight: 600;
}
.btn-xl {
	line-height: rem(60);
	height: rem(60);
	border-radius: rem(60);
	@include font-size(30);
	font-width: normal;
	padding: 0 $gutter * 2;
}
.btn-medium {
	line-height: 32px;
	height: 32px;
	padding: 0 $gutter/2;
}

.btn-primary {
	background-color: $primary-color;
	color: $default-button-color;
}
.btn-secondary {
	background-color: $secondary-color;
	color: $default-button-color;
}
.btn-alternative {
	background-color: #fff;
	color: $primary-color;
	border: 1px solid $primary-color;
}

.appButton {
	background: url(/img/responsive/apps-buttons.png) no-repeat 0 0;
	display: inline-block;
	height: 40px;
	width: 130px;
	text-indent: -999em;
	margin: 5px;
	&.googlePlayBtn {
		background-position: -133px 0;
	}
}

// social buttons
.socialIcon {
	border-radius: 100%;
	color: #fff;
	width: rem(48);
	height: rem(48);
	line-height: rem(48);
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	@include font-size(34);
	@include transition(0.3s, all);
	&.fb {
		background: $fb-color;
		&:hover {
			background: darken($fb-color, $hover-percentage);
			@include transition(0.3s, all);
		}
	}
	&.yt {
		background: #eb2526;
		&:hover {
			background: darken(#eb2526, $hover-percentage);
			@include transition(0.3s, all);
		}
	}
	&.instagram {
		background: #598bac;
		&:hover {
			background: darken(#598bac, $hover-percentage);
			@include transition(0.3s, all);
		}
	}
}

//różne selecty
.options-box {
	margin-top: -12px;
	top: 6px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	.expandOptions {
		border-radius: 0;
		background: #fff;
		display: inline-block;
		vertical-align: middle;
		color: $input-border-color;
		padding: 6px;
		border: 1px solid transparent;
		box-sizing: border-box;
		position: relative;
		z-index: 2;
		@include transform( translateZ(0) );
		@include transition(0.3s, none);
	}
	.options-box-arrow .icon {
		font-size: rem(12);
	}
	.options {
		color: $dropdowns-color;
		background: #fff;
		position: absolute;
		overflow: hidden;
		border: 1px solid transparent;
		padding: 13px 0 0;
		margin: -1px 0 0 0;
		max-height: 0;
		@include transform( translateZ(0) );
		@include transition(0.3s, max-height);
		li {
			display: block;
			height: 40px;
			vertical-align: middle;
			padding: 0 10px;
			font-size: 18px;
			line-height: 40px;
			margin: 0;
			min-width: 178px;
			cursor: pointer;
			.icon {
				vertical-align: middle;
				font-size: rem(22px);
				margin-right: 20px;
			}
			&:hover {
				background: darken(#fff, $hover-percentage);
			}
		}
		a {
			color: $dropdowns-color;
			text-decoration: none;
			display: block;
		}
		.separated {
			border-top: 1px solid $input-border-color;
		}
	}
	&.open {
		overflow: visible;
		.expandOptions {
			border: 1px solid $input-border-color;
			border-bottom-color: #fff;
			position: relative;
			z-index: 9;
		}
		.options {
			z-index: 8;
			border: 1px solid $input-border-color;
			max-height: 500px;
			@include transform( translateZ(360deg) );
			@include transition(0.3s, max-height);
		}
		.layer {
			display: block;
		}
	}
}

//różne buttony
.addOfferBtn {
	@include button($secondary-color, $default-button-color, 40px);
	font-weight: normal;
	max-width: 192px;
	width: 100%;
	.fa {
		font-size: 30px;
		margin-left: $gutter/2;
	}
}

.closeBtn {
	position: absolute;
	right: $gutter/2;
	top: $gutter/2;
	background: none;
	border: 0;
	border-radius: 0;
	color: $body-color;
	&:focus, &:active {
		outline: none;
		color: $gray-light;
	}
}

.moreBtn {
	padding: 3px 6px;
	@include font-size(16px);
	color: #fff;
	background: #665858;
	border-radius: 2px;
	line-height: normal;
}