@import '../_settings.scss';

.form, form {
	width: auto;
	display: block;
}
.formRow {
	vertical-align: middle;
	margin: 0 auto 10px;
	.input, input, button, .btn {
		vertical-align: middle;
	}
}
.select,
.input {
	border: $input-border;
	background: #fff;
	display: inline-block;
	vertical-align: middle;
	padding: 2px 8px;
	border-radius: $border-radius;
	color: $input-color;
}
.select-small,
.input-small {
	line-height: 20px;
	height: 20px;
	padding: 2px $gutter/2;
}
.select-medium,
.input-medium {
	line-height: 32px;
	height: 32px;
	padding: 0 $gutter/2;
}
.select-large,
.input-large {
	line-height: 40px;
	height: 40px;
	padding: 0 $gutter;
}
.input-large.textarea {
	height: 120px;
}
.textarea {
	resize: vertical;
}
.formRow label .input + span,
.formRow label .input + strong,
.formRow label .checkbox + span,
.formRow label .checkbox + strong {
	margin-left: $gutter/2;
}

.form-inline .grouped {
	display: inline-block;
	vertical-align: middle;
	@include clearfix;
	.input, .btn {
		display: inline-block;
		vertical-align: baseline;
		align-self: center;
	}
	& > *:first-child {
		float: left;
	}
}

// counterField
.counterField {
	position: relative;
	.counter {
		font-size: rem(11);
		font-weight: 300;
		position: absolute;
		bottom: $gutter/4;
		right: $gutter/4;
		pointer-events: none;
	}
	input, textarea {
		padding-right: rem(40);
	}
}

// fake radio
.fakeRadioLabel {
	display: inline-block;
	vertical-align: middle;
	.radioLabel,
	.fakeRadio {
		display: inline-block;
		vertical-align: middle;
	}
	.fakeRadio {
		width: 16px;
		height: 16px;
		border-radius: 100%;
		border: $input-border;
		background: #fff;
		margin-right: $gutter/2;
		position: relative;
	}
	.radio:checked {
		& + .fakeRadio:after {
			content: "";
			display: block;
			width: rem(10);
			height: rem(10);
			background: #665857;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: rem(-5) 0 0 rem(-5);
			border-radius: 100%;
		}
		& + .fakeRadio + .radioLabel {
			font-weight: bold;
		}

	}
}

// fake select
.fakeSelect {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	.select {
		cursor: pointer;
		background: $grey-brown;
		position: relative;
		padding-right: 35px;
		width: 100%;
	}
	.fakeSelectArrow {
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		right: rem(12);
	}
	.fakeSelectList {
		display: none;
		background: lighten($grey-brown, $hover-percentage);
		margin: 0;
		padding: 0;
		width: 100%;
		border: $input-border;
		border-radius: 0 0 $border-radius $border-radius;
		position: absolute;
		z-index: 9;
		li {
			list-style: none;
			line-height: rem(16);
			padding: $gutter/4 $gutter/2;
			cursor: pointer;
			& > * {
				display: block;
			}
		}
		li:hover {
			background: $grey-brown;
		}
	}
	&.open {
		.select {
			z-index: 9;
		}
		.fakeSelectList {
			display: block;
		}
		.layer {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 8;
		}
	}
}
