@font-face {
	font-family: 'icomoon';
	src:    url('/fonts/icomoon.eot?72zjdi');
	src:    url('/fonts/icomoon.eot?72zjdi#iefix') format('embedded-opentype'),
	url('/fonts/icomoon.ttf?72zjdi') format('truetype'),
	url('/fonts/icomoon.woff?72zjdi') format('woff'),
	url('/fonts/icomoon.svg?72zjdi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-angle-left:before {
	content: "\e916";
}
.icon-angle-right:before {
	content: "\e915";
}
.icon-angle-up:before {
	content: "\e914";
}
.icon-desktop:before {
	content: "\e90d";
}
.icon-football:before {
	content: "\e90e";
}
.icon-houses:before {
	content: "\e90f";
}
.icon-network:before {
	content: "\e910";
}
.icon-shoe:before {
	content: "\e911";
}
.icon-sofa:before {
	content: "\e912";
}
.icon-car:before {
	content: "\e913";
}
.icon-camera:before {
	content: "\e904";
}
.icon-chat:before {
	content: "\e905";
}
.icon-help:before {
	content: "\e906";
}
.icon-home:before {
	content: "\e907";
}
.icon-login:before {
	content: "\e908";
}
.icon-logout:before {
	content: "\e909";
}
.icon-user:before {
	content: "\e90a";
}
.icon-angle-down:before {
	content: "\e90b";
}
.icon-search:before {
	content: "\e90c";
}
.icon-mobile-menu:before {
	content: "\e903";
}
.icon-face-happy:before {
	content: "\e902";
}
.icon-circle-x:before {
	content: "\e900";
}
.icon-eye:before {
	content: "\e901";
}
.icon-envelope:before {
	content: "\65";
}
.icon-lock:before {
	content: "\6c";
}
.icon-fb:before {
	content: "\66";
}
.icon {
	display: inline-block;
	vertical-align: middle;
}