@import '../_settings.scss';

body {
	font-size: $base-font-size;
	font-family: $base-font-family;
	@include line-height(strip-unit($base-line-height));
	background: #fff;
}


//grid
.row {
	@include row();

	width: 100%;

	.col {
		display: inline-block;
		padding: 0;
		vertical-align: middle;
	}
	.col-pad > * {
		padding: $gutter;
	}
	.col.col-16of16 {
		min-width: 100%;
	}

	&.vtop {
		vertical-align: top;s
		.col {
			vertical-align: top;
		}
	}
	&.vmid {
		vertical-align: middle;
		.col {
			vertical-align: middle;
		}
	}
	&.bott {
		vertical-align: bottom;
		.col {
			vertical-align: bottom;
		}
	}
}
.container {
	@include outer-container($container-max-width);
	width: auto;
}
@include make-grid();

.col {
	padding: 0 $gutter/2;
	vertical-align: middle;
}
.col-filled {
	padding: 0;
}
.cbApp {
	background: $app-bg-color;
	padding-top: rem(80 + $gutter);
}
.feed {
	position: relative;
}
.feed .cbSidebar {
	width: 330px;
	margin-top: rem(30);
	margin-right: -$gutter;
	float: left;
	margin-left: -100%;
	@include rwd($phablet) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		float: none;
		margin: 0;
		z-index: 3;
	}
}
.topPlacement {

}
.feed .OfferList {
	margin-top: rem(22);
	position: relative;
	min-height: 200px;
	width: 100%;
	max-width: inherit;
	display: block;
	float: left;
	.layout-masonry {
		width: auto;
		margin-left: 330px;
		min-height: 200px;
	}
}

.feed .col-16of16 {
	text-align: center;
}
.breadcrumbs {
	margin: ($gutter * 1.25) ($gutter * 2) $gutter;
	a {
		color: $gray-text;
		@include font-size(14);
	}
	.delimeter {
		@include font-size(9);
		color: #a7a3a4;
		display: inline-block;
		vertical-align: middle;
		padding: 0 $gutter/4;
	}
}