@import '../settings.scss';

.popup {
	background: #fff;
	border-radius: $buttons-radius;
	border: $input-border;
	box-shadow: $item-shadow;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-clip: padding-box;
	.popupHeader {

		h2, h3, h4 {
			text-align: center;
			font-weight: 400;
			@include font-size(20);
		}
	}
	.popupFooter {
		background: $gray-light;
		text-align: center;
		padding: rem(20) 0;
	}
}