@import '../../scss/common/_mixins.scss';
@import '../../scss/common/_colors.scss';

.overlayWindowLayer {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	.overlayWindowScreening {
		background: rgba(0,0,0, 0.75);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
	}
	.overlayWindowWrapper {
		max-width: 600px;
		min-height: 200px;
		margin: 40px auto;
		background: #fff;
		@include font-size(14);
		position: relative;
		z-index: 2;
	}
	.overlayWindowHeader {
		position: relative;
		.closeBtn {
			position: absolute;
			right: 0;
			top: 0;
			color: $text-dark-color;
		}
	}
	.overlayWindowContent {
		padding: 20px;
	}
}