@import '../../scss/_settings.scss';

.accessFormWrapper {
	max-width: 420px;
	margin: 28px auto 80px;
	padding: ($gutter * 2) ($gutter * 2) ($gutter * 1.5);
	border-radius: $border-radius;
	box-shadow: $item-shadow;
	background: #fff;

	.accessFormNav {
		text-align: center;
		.showLoginFormBtn,
		.showRegisterFormBtn {
			width: 98px;
			border: 1px solid $primary-color;
			font-weight: 300;
			font-size: 16px;
			background: #fff;
		}
		.showLoginFormBtn {
			border-radius: $buttons-radius 0 0 $buttons-radius;
			border-right: 0;
		}
		.showRegisterFormBtn {
			border-radius: 0 $buttons-radius $buttons-radius 0;
		}
		.active {
			background: $primary-color;
			color: #fff;
		}
	}

	.mainFormWrapper {
		margin-top: 20px;
		h3 {
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 28px;
		}
	}

	.formSection {
		text-align: center;
		.input {
			display: block;
			width: 100%;
			font-size: rem(20);
			padding-left: rem(50);
		}
		button {
			display: block;
			width: 100%;
		}
		.loginForm {
			overflow: hidden;
			max-height: 600px;
			@include transform( rotateZ(0) );
			@include transition(0.3s);
			& + .forgotPassword {
				display: block;
			}
			&.short {
				max-height: 115px;
				@include transform(rotateZ(0));
				@include transition(0.3s);
				& + .forgotPassword {
					display: none;
				}
			}

		}

		legend {
			text-align: center;
			background: #fff;
			padding: 0 $gutter/2;
			margin-bottom: 29px;
		}
		.fieldset {
			border: 0 solid $separator-color;
			border-top-width: 1px;
			margin: 20px auto;
			padding: 0;
		}
		label {
			position: relative;
			display: block;
			& > .icon {
				position: absolute;
				left: rem(10px);
				top: rem(10px);
				font-size: rem(20);
				color: $icons-color;
			}
			& > .icon-lock {
				font-size: rem(24px);
				left: 15px;
				top: 9px;
			}
			& > .icon-eye,
			& > .icon-circle-x {
				left: inherit;
				display: block;
				color: $grey-brown;
				cursor: pointer;
				opacity: 0;
			}
			.icon-circle-x {
				font-size: 25px;
				right: 7px;
				top: 7px;
			}
			.icon-eye {
				font-size: 12px;
				right: 9px;
				top: 15px;
			}
			.icon-eye + .icon-circle-x {
				right: 44px;
			}
			.input:focus + .icon {
				opacity: 1;
			}
		}
		.formRow {
			margin-bottom: $gutter;
			strong {
				display: none;
			}
		}
		.formRow.error {
			strong {
				color: #fff;
				background: #f9616d;
				padding: 0 rem(6px);
				text-transform: uppercase;
				font-size: rem(9);
				line-height: 23px;
				height: 23px;
				display: inline-block;
				margin-bottom: rem(10);
				font-weight: 500;
				position: relative;
				&:after {
					display: block;
					content: "";
					position: absolute;
					bottom: -8px;
					left: 50%;
					margin: 0 0 0 -5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 5px 0 5px;
					border-color: #f9616d transparent transparent transparent;
				}
			}
			.input {
				border-color: #f9616d;
				background: #fedfe2;
				color: #f9616d;
				&:focus {
					color: inherit;
				}
			}
			label > .icon {
				color: #f9616d;
				&.icon-circle-x,
				&.icon-eye {
					color: $grey-brown;
					text-shadow: 0 0 1px #000;
				}
			}
		}
	}
	.fbLoginBtn {
		background: $fb-color;
		color: #fff;
		display: block;
		font-size: rem(22);
		font-weight: normal;
		height: rem(50);
		line-height: rem(50);
		position: relative;
		@include button-hover($fb-color);
		.icon {
			position: absolute;
			left: 15px;
			top: 10px;
			font-size: 30px;
		}
	}
	.sendLinkBtn,
	.loginBtn {
		margin-top: rem(32px);
		height: rem(45px);
		line-height: rem(45px);
		font-weight: normal;
		@include button-hover($primary-color);
	}
	.forgotPassword {
		color: #666;
		display: inline-block;
		margin-top: 43px;
	}
	.forgottenPasswordSection {
		margin-top: $gutter * -3;
		p {
			margin: -6px 0 27px;
			line-height: normal;
			font-size: 17px;
		}
		.icon-face-happy {
			color: $primary-color;
			font-size: rem(55px);
			margin: 4px auto;
		}
		&.linkSentSection {
			margin-bottom: -27px;
		}
	}

	@include rwd($phablet) {
		padding: ($gutter * 2) ($gutter / 2) ($gutter * 1.5);
		.input {
			font-size: rem(13);
		}
	}
}
