.spinner {
	display: block;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	.loading {
		height: 100%;
		width: 100%;
		display: table;
		p {
			display: table-cell;
			text-align: center;
			vertical-align: bottom;
			height: 100%;
		}
	}
}