@import '../../scss/_settings.scss';

.feedControls {
	margin: 0 rem(10) 2rem $gutter;
	.feedControlsHeader {
		background: $gray-light;
		line-height: 42px;
		color: $gray-medium;
		padding: $gutter rem(20);
		margin: 0;
		border-radius: 12px 12px 0 0;
		font-weight: 400;
		@include font-size(24);
		&.inside {
			border-radius: 0;
		}
	}
	.categoryListItem {
		color: $gray-medium;
		background: #fff;
		text-decoration: none;
		border: 1px solid #eaeaea;
		border-top: 0;
		box-sizing: border-box;
		display: block;
		padding: rem(20);
		margin: 0;
		cursor: pointer;
		@include font-size(16);
		.icon {
			margin-right: rem(24);
			font-size: rem(22);
		}
		&:last-child {
			border-radius: 0 0 12px 12px;
			box-shadow: $item-shadow;
		}
		&:hover {
			background: darken(#fff, $hover-percentage/3);
			@include letterpress(0.9);
		}
	}
	&.categoryFilters {
		.form-inline {
			padding: rem(20);
			background: #fff;
		}
		.input {
			max-width: rem(55);
		}
		label span {
			display: inline-block;
			vertical-align: middle;
			margin-right: $gutter/2;
		}
		.categoryListItem {
			font-weight: 300;
			.fa-check {
				display: none;
			}
			&.checked {
				color: $primary-color;
				.fa-check {
					display: inline-block;
					float: right;
					margin-top: 6px;
				}
			}
		}
	}
	@include rwd($phablet) {
		&.categoryFilters {
			display: none;
		}
		&.categoryTree {
			width: 50%;
			display: inline-block;
			margin: 0;
			.feedControlsHeader {
				font-size: rem(16);
				line-height: rem(16);
				border-radius: 0;
				text-align: center;
				background: #fff;
				cursor: pointer;
				position: relative;
				z-index: 9;
				.icon {
					font-size: rem(12);
					margin: 0 0 0 3px;
				}
				&:hover {
					background: inherit;
				}
			}
			&:nth-child(2) {
				.feedControlsHeader {
					box-sizing: border-box;
					border-left: $separator;
				}
			}
			.categoryList {
				height: 0;
				opacity: 0;
			}
		}
	}
}