@import '../../scss/_settings.scss';

.offerFormWrapper {
	max-width: rem(810px);
	margin: rem(30) auto;
}
.offerFormPictures {
	background: $grey-brown;
	padding: rem(20);
	margin: 20px 0;
	font-size: 0;
	.pictureSlot {
		display: inline-block;
		vertical-align: top;
		border-radius: $buttons-radius;
		background: #e2d9da;
		width: rem(144);
		height: rem(144);
		margin: 0 rem(4.75);
		overflow: hidden;
		position: relative;
		cursor: pointer;
		.slotImage {
			display: block;
			min-width: 100%;
			max-height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			height: 100%;
			width: auto;
			@include transform( translate(-50%,-50%) );

		}
		&.current {
			background: #fff;
			color: $primary-color;
			@include font-size(18);
			text-align: center;
			font-weight: 300;
			position: relative;
			.addPhotoLabel {
				position: absolute;
				top: 50%;
				width: 100%;
				margin-top: rem(-22px);
			}
			.fa {
				display: block;
				@include font-size(22);
			}
		}
		&.loading {
			background: #fff;
			.addPhotoLabel {
				display: none;
			}
		}
	}
}

.offerFormForm {
	margin: rem(20) 0;
	padding: 0 rem(20);
	.input {
		width: 100%;
	}
	.fakeRadioLabel {
		margin-right: $gutter;
	}
	.label-default {
		margin-right: $gutter;
	}
	.fakeSelect {
		width: 100%;
		max-width: rem(365);
	}
	.priceInput {
		max-width: rem(200);
	}
}