@import '../../scss/_settings.scss';


.offerDetailsContainer {
	max-width: rem(1332);
	margin: 0 auto;
	color: #665858;

	.offerDetailsSecondaryContent,
	.offerDetailsPrimaryContent {
		background: #fff;
		border-radius: $buttons-radius;
		box-shadow: $item-shadow;
		padding: $gutter * 2;
		h3 {
			@include font-size(24);
			font-weight: 400;
			color: $header-color;
		}
		.title {
			padding-top: $gutter * 2;
			color: inherit;
		}
	}
	.offerDetailsPrimaryContent {
		margin-right: $gutter/2;
	}
	.offerDetailsSecondaryContent {
		text-align: center;
		margin-left: $gutter;
	}
}
// secondary content - sidebar
.offerDetailsSecondaryContent {
	.offerInfo {
		position: relative;
		margin-bottom: $gutter * 4;
	}

	.btn-xl {
		width: 100%;
		margin: $gutter * 2 auto 0;
	}

	.price {
		display: block;
		width: 100%;
		color: $primary-color;
		@include font-size(38);
		font-weight: normal;
		position: absolute;
		top: -$gutter/2;
	}

	.userInfoBox {
		border-top: 1px solid $gray-light;
		border-bottom: 1px solid $gray-light;
		padding: ($gutter * 2) 0 ($gutter * 3);
		margin: ($gutter * 2) 0;
		.avatar {
			width: rem(182);
			height: rem(182);
			overflow: hidden;
			display: block;
			margin: 0 auto;
		}
		.owner {
			@include font-size(34);
			color: $primary-color;
			margin: ($gutter * 2) auto $gutter;
			display: block;
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
		.location {
			@include font-size(18);
			font-weight: 300;
			display: block;
			color: #665858;
		}
	}

	.usersOffers .profileLink {
		margin-top: $gutter;
		display: block;
		strong {
			font-weight: 500;
			margin-right: $gutter/4;
		}
		.fa {
			margin-right: $gutter/4;
		}
	}
	.ownerOffers {
		.gridItem {
			width: 50%;
			&:first-of-type {
				padding-left: 0;
			}
		}
		.gridTitle {
			font-size: 13px;
			line-height: normal;
			margin: 0;
			h3 {
				font-size: 16px;
				font-weight: 300;
				margin: rem(20) 0 rem(3);
			}
			.gridTitleLink span {
				height: auto;
				font-size: inherit;
				padding-top: 0;
			}
		}
		.gridPrice {
			font-weight: 300;
		}
	}
}

.offerDetailsPrimaryContent .picture {

	figure {
		margin: 0 0 $gutter;
		.pictWrapper {
			position: relative;
		}
		.offerPicture {
			display: block;
			width: 100%;
			height: auto;
			position: relative;
			border-radius: $border-radius;
		}
	}

}
.picture .btnNext,
.picture .btnPrev {
	position: absolute;
	height: 100%;
	width: rem(75);
	text-align: center;
	cursor: pointer;
	z-index: 1;
	top: 0;
	&:hover {
		opacity: 0.5;
		.fa {
			@include letterpress-inverse(0.25)
		}
	}
}
.picture .btnNext {
	right: 0;
}
.picture .btnPrev {
	left: 0;
}
.picture .btn {
	width: rem(50px);
	height: rem(50px);
	display: inline-block;
	vertical-align: middle;
	margin: rem(-25) auto 0;
	position: relative;
	top: 50%;
	.fa {
		display: inline-block;
		@include font-size(50);
		font-weight: bold;
		vertical-align: middle;
		color: #fff;
		@include letterpress-inverse(0.75)
	}
}

//layered gallery
.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8;
	top: 0;
	left: 0;
}
.fullscreen .layer {
	background: rgba(0,0,0, 0.75);
	position: relative;
	width: 100%;
	height: 100%;
}
.fullscreen .picWrp {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	@include align-content(stretch);

	.mainPhotoBox {
		@include align-self(center);
		@include flex-basis(fit-content);
		@include flex-grow(1);
		width: auto;
	}
	.mainPhoto {
		display: block;
		margin: 0 auto;
		widht: 100%;
	}
}