@import '../../scss/_settings.scss';

.cbFooter {

	.appOnMailBox {
		background: $primary-color;
		min-height: 136px;
		box-shadow: $item-shadow;
		form {
			min-height: 136px;
			text-align: right;
		}
		legend {
			color: #fff;
			@include font-size(30);
			display: inline-block;
			vertical-align: middle;
			margin-right: $gutter;
		}
		.input {
			margin-right: $gutter;
			width: 100%;
			max-width: 280px;
		}
		.sendMeAppBtn {
			font-weight: 500;
		}
		@include rwd($tablet) {
			form {
				text-align: center;
				margin: 0 10px;
			}
			legend {
				margin: 10px auto;
				@include font-size(26);
				@include line-height(26);
			}
			.input {
				margin: ($gutter/2) $gutter;
			}
			.sendMeAppBtn {
				margin: $gutter/2 auto $gutter;
				width: 100%;
				max-width: 280px;
			}
		}
	}
	.cbFooterActions {
		background: #f3f1f2;
		box-shadow: $item-shadow;
		min-height: 130px;
		.container {
			padding: 0 10px;
		}
		.socialIcon {
			margin: 0 $gutter;
		}
		.appStoreBtn {
			@include media(915px) {
				margin-top: 10px;
			}
		}
		@include rwd($tablet) {
			.socialActions,
			.navigation {
				width: 50%;
			}
			.appsActions {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		@include rwd($phablet) {
			.navigation {
				width: 100%;
				margin-bottom: 10px;
			}
			.socialActions,
			.appsActions {
				width: 50%;
				margin: 10px 0;
			}
		}
		@include rwd($phone) {
			.navigation,
			.socialActions,
			.appsActions {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
	.footerNavigation {
		color: #aba1a2;
		font-size: rem(12);
		.logo img {
			filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(100%);
		}
		.footerNavigationList {
			a {
				color: #aba1a2;
			}
			.delimeter {
				display: inline-block;
				margin: 0 $gutter/4;
			}
		}
	}
	.copyright {
		text-align: center;
	}
}