@import '../../scss/_settings.scss';

.mobileAppsContainer {
	background: $primary-color url(/img/responsive/topAppsBg.jpg) repeat-x 0 0;
	color: #fff;
	@include retina('/img/responsive/topAppsBg@2x.jpg', 469px, 161px);
	height: 200px;
	overflow: hidden;
	text-align: center;
	position: relative;
	.hideBanner {
		background: transparent;
		border: none;
		color: #fff;
		position: absolute;
		right: $gutter/2;
		top: $gutter/2;
		font-size: rem(9);
		.icon {
			border-radius: 100%;
			border: 1px solid #fff;
			font-size: rem(12);
			padding: 3px;
			margin-left: $gutter/3;
		}
	}
}