 @import './common/_mixins.scss';

 //colors
 $hover-percentage: 15%;
 $primary-color: #fe583e;
 $secondary-color: #29b4e1;
 $secondary-color-hover: darken($secondary-color, $hover-percentage);
 $alternative-action-color: #4f8fb6;
 $header-color: #ad9999;
 $sec-header-color: #334056;
 $counter-color: #f70000;
 $panel-hover-color: #ecf1fa;
 $gray-medium: #666;
 $gray-light: #ececec;
 $gray-text: #707070;
 $grey-shadow: #eaeaea;
 $klarna-color: #2581c4;
 $klarna-rating-color: #737373;
 $fb-color: #3b5998;
 $input-border-color: #d6cccc;
 $input-color: #685a5a;
 $grey-brown: #efebea;
 $dropdowns-color: #7c6d70;
 $separator-color: #e1e1e1;
 $sec-separator-color: #ddd;
 $body-color: #333;
 $app-bg-color: #f8f8f8;
 $default-button-color: #fff;

 $quiet-color: #888;
 $loud-color: #000;
 $text-dark-color: #313131;
 $icons-color: #857979;
 $warning-color: #ffda2f;
 $error-color: #cc3333;
 $success-color: #339933;


  //borders
 $separator: 1px solid $separator-color;
 $sec-separator: 1px solid $sec-separator-color;
 $input-border: 1px solid $input-border-color;
 $border-radius: 4px;
 $buttons-radius: 10px;
 $item-shadow: 0 1px 0 $grey-shadow;


 //grid
 $gutter: rem(16) !default;
 $columns: 16 !default;
 $container-max-width: 1600px;
 $border-box-sizing: true !default;



//typography
 /// Base font size setting for Andy
 /// @access public
 /// @type Length
 $base-font-size: 16px !default;
 $base-font-family: 'Raleway', sans-serif;
 $base-line-height: strip-unit($base-font-size) * 1.4;










 //
 //	media breakpoints
 //
 $phone: "(max-width: 479px)";
 $phablet: "(max-width: 767px)";
 $tablet: "(max-width: 1023px)";
 $desktop: "(max-width: #{$container-max-width})";
 $large: "(min-width: #{$container-max-width + 1})";

 $phone-strict: "(min-width: 320px) and (max-width: 479px)";
 $phablet-strict: "(min-width: 480px) and (max-width: 479px)";
 $tablet-strict: "(min-width: 768px) and (max-width: 1023px)";
 $desktop-strict: "(min-width: 1024px) and (max-width: #{$container-max-width})";
 $large-strict: "(min-width: #{$container-max-width + 1})";

