@import './common/_normalize.scss';
@import 'bourbon';
@import './_settings.scss';
@import 'neat';
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,500,700);
//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@import './common/_layout.scss';
@import './common/_buttons.scss';
@import './common/_forms.scss';
@import './common/_typography.scss';
@import './common/_alerts.scss';
@import './common/_animations.scss';
@import './common/_popups.scss';
@import './common/_icons.scss';

ul {
	margin: 0;
	padding: 0;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.hidden {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: inline-block;
	visibility: hidden;
	text-indent: -999em;
}
.hide-text {
	text-indent: -999em;
	display: inline-block;
}
.centered {
	text-align: center;
	@include align-self(center);
	margin-left: auto;
	margin-right: auto;
}

.avatar {
	box-sizing: border-box;
	.avatarLink {
		display: inline-block;
		overflow: hidden;
		height: 50px;
		width: 50px;
		background-clip: border-box;
		border-radius: 100%;
	}
	.avatarImg {
		display: block;
		width: 100%;
		border-radius: 100%;
	}
}

.layer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	display: none;
}

.counterWrp {
	position: relative;
	.counter {
		background: $primary-color;
		color: #fff;
		text-align: center;
		line-height: 16px;
		height: 16px;
		width: 16px;
		font: normal 12px/16px 'Raleway';
		border-radius: 100%;
		position: absolute;
		right: 0;
		top: -2px;
	}
}