@import '../../../scss/_settings.scss';

.appHeader .searchBarWrp {
	width: calc(100% - 637px);
	@include rwd($desktop) {
		width: calc(100% - 565px);
	}
	@include rwd($phablet) {
		width: auto;
	}
}
.appHeader .searchForm {
	padding: 0 0 0 28px;
	position: relative;
	top: 16px;
	@include transition(0.5s, height);
	.formRow {
		margin-right: 95px;
		@include transition(0.5s, height);
		@include rwd($desktop) {
			margin-right: 50px;
		}
		@include rwd($tablet) {
			opacity: 0;
			width: 0;
			height: 0;
			margin: 0;
		}
	}
	.cntHeaderCounter {
		color: #b6b9b9;
		@include font-size(12);
		line-height: rem(12);
		position: relative;
		clear: both;
		padding-left: 9px;
		margin: 10px auto 0;
		p {
			margin: 0;
		}
		strong,
		span {
			display: inline-block;
			vertical-align: middle;
		}
		.itemsCounter {
			&:after {
				content: "•";
				display: inline-block;
				width: 15px;
				text-align: center;
			}
		}
	}
	.searchInput {
		border-radius: $border-radius 0 0 $border-radius;
		background: #f7f5f5 url(/img/search-icon.png) no-repeat 8px 50%;
		@include retina('/img/search-icon@2x.png', 25px, 24px);
		color: #c5b7b7;
		@include font-size(18);
		padding: 0 $gutter 0 40px;
		display: block;
		width: 100%;
		&:focus {
			outline: none;
		}
	}
	.searchBtn {
		position: relative;
		right: -95px;
		top: -40px;
		z-index: 2;
		border: none;
		line-height: 40px;
		height: 40px;
		width: 95px;
		float: right;
		@include button($input-border-color, #fff, 0 20px 20px 0);
		@include transition(0.5s, height);
		@include rwd($desktop) {
			width: rem(50px);
			right: rem(-50px);
			span {
				text-indent: -999em;
				display: block;
			}
			&:before {
				display: block;
				width: 20px;
				height: 20px;
				margin-left: 2px;
				content: "\e90c";
				font-family: 'icomoon', sans-serif !important;
				font-size: rem(22);
			}
		}
	}
	.searchInputWrp {
		position: relative;
		z-index: 2;
	}
	.autocompleter {
		position: absolute;
		top: 54px;
		width: 100%;
		max-width: 300px;
		z-index: 1;
	}
	.autocompleterLayer {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
	}
	.autocompleterList {
		position: relative;
		z-index: 2;
		background: #fff;
		border: 1px solid $input-border-color;
	}
	.autocompleterSuggestion {
		display: block;
		font-size: 16px;
		line-height: 32px;
		padding: 0 10px;
		box-sizing: border-box;
		text-decoration: none;
		color: $gray-medium;
		&:hover {
			background: darken(#fff, $hover-percentage);
		}
	}

	// pokazywanie formularza po kliku na mobile i tablet
	&.open {
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		top: 81px;
		padding: 10px;
		background: #fff;
		box-shadow: $item-shadow;
		height: auto;
		z-index: 9;
		@include transition-in(0.5s, height);

		.formRow {
			margin: 0;
			display: block;
			opacity: 1;
			width: 100%;
			height: auto;
			@include transition-in(0.5s, height);
		}
		.searchInput {
			border-radius: $border-radius;
		}
		.searchBtn {
			width: 100%;
			max-width: inherit;
			display: inline-block;
			float: none;
			margin: $gutter 0 ( $gutter - rem(10) );
			position: static;
			border-radius: 10px;
			text-indent: 0;
			background: $primary-color;
			@include transition-in(0.5s, height);
			&:before {
				display: none;
			}
			span {
				text-indent: 0;
				font-size: rem(20);
			}
		}
	}

}
.search-expand-btn {
	position: absolute;
	margin-right: 10px;
	z-index: 1;
}

