@import '../../../scss/_settings.scss';

.appHeader {
	display: inline-block;
	background: #fff;
	height: 100%;
	max-height: 80px;
	position: fixed;
	z-index: 3;
	width: 100vw;
	top: 0;
	left: 0;
	box-shadow: $item-shadow;
	.appHeaderActions {
		margin-top: 3px;
		height: 80px;
	}

	.search-expand-btn,
	.menu-btn {
		color: inherit;
		width: rem(50px);
		height: rem(50px);
		line-height: rem(50px);
		position: absolute;
		top: 50%;
		margin: rem(-25) 0 0 ($gutter/2);
		display: none;
		.icon {
			font-size: rem(40);
		}
		@include rwd($tablet) {
			display: block;
		}
	}
	.search-expand-btn {
		right: rem(10px);
	}

	.logoWrap {
		width: 225px;
		h1 {
			margin: 0;
			.logo {
				display: block;
				white-space: nowrap;
				background: url('/img/logo.png') no-repeat 0 50%;
				@include retina('/img/logo@2x.png', rem(180px), rem(31px));
				min-width: rem(180px);
				height: rem(32px);
				padding: 0;
				margin-left: rem(37px);
				margin-top: rem(-9px);
			}

		}
		@include rwd($desktop) {
			width: 180px;
			h1 .logo {
				margin-left: rem(10px);
			}
		}
		@include rwd($tablet) {
			width: 100vw;
			h1 {
				width: auto;
				height: rem(80px);
				margin: 0 rem(70px);
				overflow: hidden;
				.logo {
					margin: 0;
					background-size: auto rem(32px);
					background-position: 50%;
					height: 100%;
				}
			}
		}
	}

	.userActionsWrp {
		max-width: 385px;
		width: 100%;
		@include rwd($phablet) {
			display: none !important;
		}
	}

	.appHeaderButtons {
		position: relative;
		.addOfferBtn {
			position: absolute;
			right: 8px;
			top: -2px;
			span {
				font-size: rem(19px);
			}
			.icon {
				font-size: rem(30px);
				margin-top: -3px;
			}
		}
		@include rwd($tablet) {
			.addOfferBtn {
				display: none;
			}
		}
	}

	.lastActivityLayer {
		display: inline-block;
		vertical-align: middle;
		margin: -6px 0 0 24px;
		color: $input-border-color;
		text-align: center;
		max-width: 50px;
		padding: 0;
		.btn-text {
			position: relative;
			text-align: left;
			display: inline-block;
			margin: 4px 0 0 0;
			color: $input-border-color;
			max-width: 50px;
			left: 0;
			padding: 0;
			.icon {
				font-size: 37px;
			}
		}
		@include rwd($tablet) {
			display: none;
		}
	}

	.avatar {
		display: inline-block;
		vertical-align: middle;
		width: 76px;
		margin: -20px 0 0 18px;
		color: $input-border-color;
		@include rwd($tablet) {
			display: none;
		}
		.avatarLink {
			width: 40px;
			height: 40px;
			vertical-align: middle;
			margin-right: 8px;
		}
		.icon-user {}
		.icon-help {}
		.icon-camera {}
		.icon-envelope {}
		.icon-home {
			font-size: rem(22);
		}
	}

	.sideMenu {
		max-width: 320px;
		width: 100%;
		background: #fff;
		position: fixed;
		height: 100%;
		left: -320px;
		top: 0;
		overflow: auto;
		@include transform( rotateZ(0) );
		@include transition(0.3s);

		&.open {
			left: 0;
			z-index: 9;
			@include transform( rotateZ(360geg) );
			@include transition(0.3s);
		}

		.closeBtn {
			color: #fff;
			font-size: rem(32);
		}

		.userBox {
			background: $primary-color;
			text-align: center;
			padding: rem(20px) 0;
			color: #fff;
			.userName a {
				color: #fff;
			}
			.avatar {
				display: block;
				margin: 0 auto;
				width: 70px;
				height: 70px;
				.avatarLink {
					width: 100%;
					height: 100%;
				}
			}
		}

		.getAppBtn {
			display: block;
			margin: 0 rem(20);
			font-weight: 500;
		}

		.sideMenuList {
			margin: rem(30) 0;
			li {
				height: rem(40);
				line-height: rem(40);
				padding: 0 rem(20);
				a {
					color: inherit;
					font-size: rem(20);
					font-weight: 500;
					.icon {
						font-size: rem(24);
						font-weight: bold;
						margin-right: $gutter;
					}
				}
			}
		}
	}
}

